<div class='hexInputContainer'> 
    <label class='orange'>Add Hex Point</label>
    <div class="resourceInsertionContainer">
        <!--<div >-->
            <!--<label class='darkBlue'>Primary</label>-->
            <!--<select class ='hexInputResource1'>-->
                <!--<% _.each(resourceTypes, function(i) {%> <option class='<%=i%>' value='<%=i%>'><%=i%></option> <%}); %>-->
                <!--<option class='NONE' value='NONE'>NONE</option>-->
            <!--</select>-->
            <!--</div>-->
        <!--<div>-->
            <!--<label class='darkBlue'>Secondary?</label>-->
            <!--<select class ='hexInputResource2'>-->

                <!--<% _.each(resourceTypes, function(i) {%> <option class='<%=i%>' value='<%=i%>'><%=i%></option>" <%}); %>-->
                <!--<option class='NONE' value='NONE'>NONE</option>-->
            <!--</select>-->

            <!--</div>-->
        <!--<select class ='hexInputRoll'>-->
            <!--<% _.each(hexNumbers, function(i) {%> <option value='<%=i%>'><%=i%></option>" <%}); %>-->

        <!--</select>-->
        <!--<select class ='hexInputId'>-->
            <!--<% _.each(hexIds, function(i) {%> <option value='<%=i%>'><%=i%></option>" <%}); %>-->
        <!--</select>-->
        <!--<p class="orange">--OR--</p>-->
        <div class="allHexContainer">
            <div class="resource-multi-input-container">

                <div class="resource-tooltip fr">
                    <img src="style/question-mark.png" title = "Lu=Lumber
Or=Ore
Wh=Wheat
Wo=Wool
Br=Brick
Co=Coin
Cl=Cloth
Pa=Paper"/>
                </div>

                <input class = 'allHexInput fl' placeholder="ex:Lu,Lu,2,A/Lu,2,A">
            </div>

            <div class="errorContainer"></div>
        </div>
    </div>

    <button class='hexInputSubmit'>Submit</button>
</div>