<div class='hexInputContainer'>
    <div class="add-hex-toggle"><img src="style/left.png"></div>

    <div class="resourceInsertionContainer">

        <label class='orange'>Add Hex Point</label>
        <div class="allHexContainer">
            <div class="resource-multi-input-container">

                <div class="resource-tooltip fr">
                    <img src="style/question-mark.png" title = "Lu=Lumber
Or=Ore
Wh=Wheat
Wo=Wool
Br=Brick
Co=Coin
Cl=Cloth
Pa=Paper"/>
                </div>

                <input class = 'allHexInput fl' placeholder="ex:Lu,Lu,2,A/Lu,2,A">
            </div>

            <div class="errorContainer"></div>
        </div>


        <button class='hexInputSubmit'>Submit</button>
    </div>
</div>